
     h1 {
        color : blue
     }

     .header {
        background-color: greenyellow;
        font-style: italic;
        font-size: x-large;
     }

     .menu{
         background-color: #a770ff;
         display: flex;
         flex-wrap: wrap;
         justify-content: space-around;
         font-size: x-large;
         color: #ffffff;
         
     }
    
     .grid{
         font-size: medium;
         background-color: #00ffff;
     }